autopep8==1.4.3
certifi==2018.11.29
chardet==3.0.4
Click==7.0
colorama==0.4.1
cssmin==0.2.0
cymem==2.0.2
cytoolz==0.9.0.1
cython==0.29.6
dill==0.2.9
Flask==1.0.2
Flask-Assets==0.12
Flask-Cors==3.0.7
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
jsmin==2.2.2
MarkupSafe==1.1.0
mkl-fft==1.0.6
mkl-random==1.0.2
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.2
numpy==1.16.2
peewee==3.8.2
peewee-db-evolve==3.7.0
plac==0.9.6
preshed==2.0.1
psycopg2-binary==2.7.7
pycodestyle==2.5.0
python-dotenv==0.10.1
regex==2018.1.10
requests==2.21.0
six==1.12.0
spacy==2.0.18
thinc==6.12.1
toolz==0.9.0
tqdm==4.31.1
ujson==5.2.0
urllib3==1.24.1
webassets==0.12.1
Werkzeug==0.14.1
wincertstore==0.2
wrapt==1.10.11
